h1 {
	text-transform: uppercase;
	color: #ffd700;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 1px;
	-webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;

}
.container {
	font-family: 'Raleway', Arial, sans-serif;
}


.row {
	text-align: center;
}

button {
	background-color: white;
	border: 1px solid orange;
	padding:5px 10px;
	margin: 5px;
}

.gifDiv {
	display: inline-block;
	padding: 5px;
}

#add-person {
	border: 1px solid black;
}